{% include label.html label=include.label name=include.name required=include.required %}
<select
  id="field--{{include.name}}"
  name="{{include.name}}"
  {% if include.required %}required{% endif %}
  {% if include.empty %}empty{% endif %}
  {% if include.type %}type="{{ include.type }}"{% endif %}
  {% if include.onchange %}onchange="{{ include.onchange }}"{% endif %}
>
  {% if include.options %}
    {% comment %}
      We can't pass arrays or objects as attributes in an include, so we fall
      back to a concatenated string.
      Options are structured like the following:
      - join the value and the label with a "=="
      - join the list of value@label with a "|"
      Eg: "value1==label for value 1|value2==label for value 2"
    {% endcomment %}
    {% assign optionsArray=include.options | split: "|" %} 
    {% if include.empty %}<option> ––– </option>{% endif %}
    {% for option in optionsArray %}
      {% assign optionArray=option | split: "==" %}
      <option value="{{ optionArray[0] }}">{{ optionArray[1] }}</option>
    {% endfor %}
  {% endif %}
</select>
