<!DOCTYPE html>
<html lang="fr">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<title>{{ page.title }} - {{ site.title }}</title>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/solen.css">
<script src="{{ site.baseurl }}/assets/js/utils.js"></script>

<header id="declaration-readonly" style="display: none">
  <div>
    <hgroup>
      <h1>Cette déclaration a déjà été validée, aucune modification saisie ne sera enregistrée.</h1>
    </hgroup>
  </div>
  <details>
    <summary>Modifier la déclaration</summary>
    Si vous souhaitez modifier la déclaration, vous pouvez la passer en
    statut "brouillon" : elle sera alors modifiable, et remplacera votre
    déclaration actuelle une fois que vous l'aurez totalement validée jusqu'à
    la dernière étape.
    <button>Modifier la déclaration</button>
  </details>
</header>


<header>
  <div>
    <img src="{{ site.baseurl }}/assets/img/marianne.png" alt="Marianne">
    <hgroup>
      <h1>Égalité professionnelle</h1>
    </hgroup>
  </div>
</header>

<form class=main id="page-form" action="{{ page.url }}">
  {{ content }}
</form>

</html>
