---
layout: default
---
<main>
  {{ content }}
</main>

<nav>
  {% if page.prevButtonLabel %}
  <a class=button rel=prev>{{ page.prevButtonLabel }}</a>
  {% else %}
  <a class=button rel=prev>Précédent</a>
  {% endif %}
  <progress max=0 value=0></progress>
  {% if page.nextButtonLabel %}
  <button rel=next>{{ page.nextButtonLabel }}</button>
  {% else %}
  <button rel=next>Suivant</button>
  {% endif %}
</nav>

<!-- tunnel.js uses DOM and should be loaded last -->
<script src="{{ site.baseurl }}/assets/js/tunnel.js"></script>
