---
layout: tunnel
title: "Année et périmètre retenus pour le calcul et la publication des indicateurs"
---

<h1>{{ page.title }}</h1>

<fieldset>
  <div class="row">
    {% include input.html name="déclaration.année_indicateurs" label="Année au titre de laquelle vous transmettez vos indicateurs" type="number" readonly=true %}
  </div>
</fieldset>

<fieldset>
  <div class=row>
    <h4>Vous êtes une</h4>
    {% include radios.html
      name="_entreprise.structure"
      options="entreprise=Entreprise&ues=Unité Économique et Sociale"
      required="required" %}
  </div>
</fieldset>

<fieldset>
  <div class=row>
    <h4>Tranches d'effectifs</h4>
    {% include radios.html
      name="entreprise.effectif.tranche"
      options="50:250=De 50 à 250 inclus&251:999=De 251 à 999 inclus&1000:=De 1000 ou plus"
      required="required" %}
  </div>
</fieldset>

<h1>Période de référence considérée pour le calcul des indicateurs</h1>

<fieldset>
  <div class=row>
    <h4>Période de référence</h4>
    {% include radios.html
      name="_periode.type"
      options="civile=Année civile&autre=Autre période"
      onchange="updatePeriode(this.value)"
      required="required" %}
  </div>
</fieldset>

<fieldset id="_periode.reference">
  <div class=row>
    {% include input.html type="date" label="Date de fin de la période de référence" name="déclaration.fin_période_référence" %}
  </div>
</fieldset>

<fieldset>
  <div class=row>
    {% include input.html type="number" name="entreprise.effectif.total" min=0 label="Nombre de salariés pris en compte pour le calcul des indicateurs sur la période de référence" required="true" %}
  </div>
</fieldset>

<script>
  document.onready = () => {
    if (app.data?.entreprise?.raison_sociale) {
      // There is already a "raison sociale" (filled in on the next screen) so we did
      // already submit this current form, so we can infer the "_periode.type" data.
      app.data._periode = {type: app.data.déclaration.fin_periode_référence ? "autre" : "civile"}
      // And the "_entreprise.structure" data.
      app.data._entreprise = {structure: app.data.entreprise.ues ? "ues" : "entreprise"}
    }
  }

  document.onloaded = () => {
    updatePeriode(getVal(app.data, '_periode.type'))
  }

  function updatePeriode(value) {
    const fieldset = document.getElementById('_periode.reference')
    fieldset.disabled = value !== "autre"
  }

  document.onsend = data => {
    if (data?._entreprise?.structure === "entreprise") {
      delete data?.entreprise?.ues
      delete data?._entreprise?.ues
    }
    if (data?.entreprise?.effectif?.tranche === "50:250") {
      delete data?.indicateurs?.augmentations
      delete data?.indicateurs?.promotions
    } else {
      delete data?.indicateurs?.augmentations_et_promotions
    }
  }
</script>
