---
layout: tunnel
title: "Année et périmètre retenus pour le calcul et la publication des indicateurs"
---

<h1>{{ page.title }}</h1>

<fieldset>
  <div class="row">
    {% include input.html name="déclaration.année_indicateurs" label="Année au titre de laquelle vous transmettez vos indicateurs" readonly=true validation="Number" %}
  </div>
</fieldset>

<fieldset>
  <div class=row>
    <h4>Vous êtes une</h4>
    <label><input required type=radio name="_entreprise.structure" value="entreprise"> Entreprise</label>
    <label><input required type=radio name="_entreprise.structure" value="ues"> Unité Économique et Sociale (UES)</label>
  </div>
</fieldset>

<fieldset>
  <div class=row>
    <h4>Tranches d'effectifs</h4>
    <div name="entreprise.effectif.tranche"></div>
  </div>
</fieldset>

<h1>Période de référence considérée pour le calcul des indicateurs</h1>

<fieldset>
  <div class=row>
    <h4>Période de référence</h4>
    <label><input type=radio required name="_periode.type" onchange="updatePeriode(this.value)" value="civile"> Année civile</label>
    <label><input type=radio required name="_periode.type" onchange="updatePeriode(this.value)" value="autre"> Autre période de référence</label>
  </div>
</fieldset>

<fieldset id="_periode.reference">
  <div class=row>
    {% include input.html type="date" label="Date de fin de la période de référence" name="déclaration.fin_période_référence" %}
  </div>
</fieldset>

<fieldset>
  <div class=row>
    {% include input.html type=number name="entreprise.effectif.total" min=0 label="Nombre de salariés pris en compte pour le calcul des indicateurs sur la période de référence" required="true" validation="Number" %}
  </div>
</fieldset>

<script>
  document.onready = () => {
    buildRadioOptions(
      document.querySelector('[name="entreprise.effectif.tranche"]'),
      Object.entries(app.config.effectifs).map(([value, label]) => ({ value, label })),
      getVal(app.data, "entreprise.effectif.tranche"),
      { required: true }
    )

    updatePeriode(getVal(app.data, '_periode.type'))
  }

  function updatePeriode(value) {
    const fieldset = document.getElementById('_periode.reference')
    fieldset.disabled = value !== "autre"
  }

  document.onsend = data => {
    if (data._entreprise.structure === "entreprise") {
      delete data.entreprise.ues
      delete data._entreprise.ues
    }
    if (data.entreprise.effectif.tranche === "50:250") {
      delete data.indicateurs.augmentations_hors_promotions
      delete data.indicateurs.promotions
    } else {
      delete data.indicateurs.augmentations
    }
  }
</script>
