---
layout: tunnel
title: "Ecart de taux d'augmentations individuelles entre les femmes et les hommes"
---

<h1>{{ page.title }}</h1>

<fieldset>
  <div class=row>
    <div>
      {% include radios.html
        name="_indicateurs.augmentations_et_promotions.calculable"
        label="L'indicateur sur les taux d'augmentations individuelles est-il calculable"
        required="true"
        options="oui==oui|non==non"
        onchange="toggleFields()"
        required="required" %}
    </div>
  </div>
</fieldset>

<fieldset id="fieldset-resultat-pourcentage">
  <div class=row>{% include input.html type="number" name="indicateurs.augmentations_et_promotions.résultat" label="Résultat final en pourcentage (%)" min=0 max=40 required=true type="number" onblur="refreshForm()" %}</div>
</fieldset>

<fieldset id="fieldset-resultat-nombre-salaries">
  <div class=row>{% include input.html type="number" name="indicateurs.augmentations_et_promotions.résultat_nombre_salariés" label="Résultat final en nombre de salariés" min=0 max=40 required=true type="number" onblur="refreshForm()" %}</div>
</fieldset>

<fieldset id="fieldset-population-favorable">
  <div class=row>{% include select.html name="indicateurs.augmentations_et_promotions.population_favorable" empty="true" label="Population envers laquelle l'écart est favorable" required=true onchange="refreshForm()" %}</div>
</fieldset>

<fieldset id="fieldset-motif">
  <div class=row>{% include select.html name="indicateurs.augmentations_et_promotions.non_calculable" label="Précision du motif de non calculabilité de l'indicateur" required=true empty=true %}</div>
</fieldset>

<fieldset id="fieldset-note-en-pourcentage" class="note subnote">
  <div class=row>{% include input.html type="number" name="indicateurs.augmentations_et_promotions.note_en_pourcentage" label="Nombre de points obtenus sur le résultat final en pourcentage" min=0 max=40 type="number" readonly=true %}</div>
</fieldset>

<fieldset id="fieldset-note-en-salaries" class="note subnote">
  <div class=row>{% include input.html type="number" name="indicateurs.augmentations_et_promotions.note_nombre_salariés" label="Nombre de points obtenus sur le résultat final en nombre de salariés" min=0 max=40 type="number" readonly=true %}</div>
</fieldset>

<fieldset id="fieldset-note" class=note>
  <div class=row>{% include input.html type="number" name="indicateurs.augmentations_et_promotions.note" label="Nombre de points obtenus sur l'indicateur" min=0 max=35 type="number" readonly=true %}</div>
</fieldset>

<script>
  const calculableField = selectField('_indicateurs.augmentations_et_promotions.calculable')
  const resultatField = selectField("indicateurs.augmentations_et_promotions.résultat")
  const resultatNombreSalariesField = selectField("indicateurs.augmentations_et_promotions.résultat_nombre_salariés")

  document.onready = () => {
    if (app.data?.indicateurs?.augmentations_et_promotions) {
      // We did already submit this current form, so we can infer the
      // "_indicateurs.augmentations_et_promotions.calculable" data.
      if (!app.data._indicateurs) app.data._indicateurs = {}
      app.data._indicateurs.augmentations_et_promotions = {calculable: app.data.indicateurs.augmentations_et_promotions.non_calculable ? "non" : "oui"}
    }

    const favorableOptions = [
      { value: 'femmes', label: "Femmes" },
      { value: 'hommes', label: "Hommes" },
    ]
    buildSelectOptions(selectField('indicateurs.augmentations_et_promotions.population_favorable'), favorableOptions)

    const nonCalculableField = selectField('indicateurs.augmentations_et_promotions.non_calculable')
    const nonCalculableOptions = [
      { value: 'etsno5f5h', label: "L'entreprise ne comporte pas au moins 5 femmes et 5 hommes" },
      { value: 'absaugi', label: "Absence d'augmentations individuelles"},
    ]
    buildSelectOptions(nonCalculableField, nonCalculableOptions)
  }

  function toggleFields() {
    const isCalculableChosen = calculableField.querySelector(':checked')
    const isCalculable = isCalculableChosen && calculableField.querySelector(':checked').value === 'oui'
    enableField('#fieldset-resultat-pourcentage', isCalculable)
    enableField('#fieldset-resultat-nombre-salaries', isCalculable)
    enableField('#fieldset-population-favorable', isCalculable && (resultatField.value != "0" || resultatNombreSalariesField.value != "0"))
    enableField('#fieldset-motif', isCalculableChosen && !isCalculable)
    enableField('#fieldset-note-en-pourcentage', isCalculable)
    enableField('#fieldset-note-en-salaries', isCalculable)
    enableField('#fieldset-note', isCalculable)
  }
  
  document.onloaded = () => {
    toggleFields()
    calculableField.addEventListener('change', toggleFields)
    resultatField.addEventListener('input', toggleFields)
    resultatNombreSalariesField.addEventListener('input', toggleFields)

  }
</script>
