---
layout: tunnel
title: "Ecart de taux d'augmentations individuelles entre les femmes et les hommes"
---

<h1>{{ page.title }}</h1>

<fieldset>
  <div class=row>
    <div>{% include radios.html name="_indicateurs.augmentations.calculable" label="L'indicateur sur les taux d'augmentations individuelles est-il calculable" required="true" %}</div>
  </div>
</fieldset>

<fieldset id="fieldset-resultat-pourcentage">
  <div class=row>{% include input.html type="number" name="indicateurs.augmentations.résultat" label="Résultat final en pourcentage (%)" min=0 max=40 required=true validation="Number" %}</div>
</fieldset>

<fieldset id="fieldset-resultat-nombre-salaries">
  <div class=row>{% include input.html type="number" name="indicateurs.augmentations.résultat_nombre_salariés" label="Résultat final en nombre de salariés" min=0 max=40 required=true validation="Number" %}</div>
</fieldset>

<fieldset id="fieldset-population-favorable">
  <div class=row>{% include select.html name="indicateurs.augmentations.population_favorable" empty="true" label="Population envers laquelle l'écart est favorable" required=true %}</div>
</fieldset>

<fieldset id="fieldset-motif">
  <div class=row>{% include select.html name="indicateurs.augmentations.non_calculable" label="Précision du motif de non calculabilité de l'indicateur" required=true %}</div>
</fieldset>

<fieldset class="note subnote">
  <div class=row>{% include input.html type="number" name="indicateurs.augmentations.note_en_pourcentage" label="Nombre de points obtenus sur le résultat final en pourcentage" min=0 max=40 validation="Number" readonly=true %}</div>
</fieldset>

<fieldset class="note subnote">
  <div class=row>{% include input.html type="number" name="indicateurs.augmentations.note_nombre_salariés" label="Nombre de points obtenus sur le résultat final en nombre de salariés" min=0 max=40 validation="Number" readonly=true %}</div>
</fieldset>

<fieldset class=note>
  <div class=row>{% include input.html type="number" name="indicateurs.augmentations.note" label="Nombre de points obtenus sur l'indicateur" min=0 max=35 validation="Number" readonly=true %}</div>
</fieldset>

<script>
  document.onready = () => {
    const calculableField = selectField('_indicateurs.augmentations.calculable')
    const calculableOptions = [
      { value: 'oui', label: "oui" },
      { value: 'non', label: "non" }
    ]
    buildRadioOptions(calculableField, calculableOptions, getVal(app.data, '_indicateurs.augmentations.calculable') || 'oui', {required: true})

    const favorableOptions = [
      { value: 'femmes', label: "Femmes" },
      { value: 'hommes', label: "Hommes" },
      { value: 'egalite', label: "Égalité" }
    ]
    buildSelectOptions(selectField('indicateurs.augmentations.population_favorable'), favorableOptions)

    const nonCalculableField = selectField('indicateurs.augmentations.non_calculable')
    const nonCalculableOptions = [
      { value: 'etsno5f5h', label: "L'entreprise ne comporte pas au moins 5 femmes et 5 hommes" },
      { value: 'absaugi', label: "Absence d'augmentations individuelles"},
    ]
    buildSelectOptions(nonCalculableField, nonCalculableOptions)

    toggleFields()
    calculableField.addEventListener('change', toggleFields)

    function toggleFields() {
      const isCalculable = calculableField.querySelector(':checked') && calculableField.querySelector(':checked').value === 'oui'
      enableField('#fieldset-resultat-pourcentage', isCalculable)
      enableField('#fieldset-resultat-nombre-salaries', isCalculable)
      enableField('#fieldset-population-favorable', isCalculable)
      enableField('#fieldset-motif', !isCalculable)
    }

    function enableField(selector, enabled) {
      document.querySelector(selector).disabled = !enabled
    }
  }
</script>
