---
layout: tunnel
title: "Commencer la déclaration"
---
<h1>{{ page.title }}</h1>
  <div>
    <input id="declarant-email" type="hidden" name="déclarant.email" />
    {% include select.html name="déclaration.année_indicateurs" label="Année de déclaration" required=true validation="Number" %}
  </div>
  <div>
    {% include input.html type="regex" name="entreprise.siren" label="Numéro SIREN" required="true" pattern="[0-9]{9}" placeholder="9 chiffres" %}
  </div>

<script>
  document.onready = function() {
    const schema = app.schema.properties['déclaration']['properties']['année_indicateurs']
    buildSelectOptions(
      selectField('déclaration.année_indicateurs'),
      [
        { label: schema.maximum, value: schema.maximum },
        { label: schema.minimum, value: schema.minimum },
      ]
    )

    const email = document.getElementById("declarant-email")
    email.value = localStorage.getItem("email")

    document.querySelector('button[rel=next]').disabled = !app.token
    window.validateForm = async function(form) {
      if(app.token) return true
    }
  }
</script>
