---
layout: tunnel
title: "Commencer la déclaration"
prevButtonLabel: "Recommencer"
---
<h1>{{ page.title }}</h1>
  <fieldset>
    <div class="row">
      {% include select.html type="number" name="déclaration.année_indicateurs" label="Année au titre de laquelle les indicateurs sont calculés" required=true empty=true %}
    </div>
  </fieldset>
  <fieldset>
    <div class="row">
      {% include input.html type="regex" name="entreprise.siren" label="Numéro Siren de l’entreprise ou de l’entreprise déclarant pour le compte de l’UES (Unité Économique et Sociale)" required="true" pattern="[0-9]{9}" placeholder="9 chiffres" onblur="checkSirenValidity(event)" %}
    </div>
  </fieldset>

<script>
  delete localStorage.data

  document.preFormSubmit = event => {
    const anneeIndicateurs = Number(selectField("déclaration.année_indicateurs").value)
    const message = `Vous allez procéder à la déclaration de votre index de l’égalité professionnelle pour l’année ${anneeIndicateurs + 1} au titre des données de ${anneeIndicateurs}.`
    return confirm(message)
  }

  document.onready = function() {
    const schema = app.schema.properties['déclaration']['properties']['année_indicateurs']
    buildSelectOptions(
      selectField('déclaration.année_indicateurs'),
      [
        { label: schema.maximum, value: schema.maximum },
        { label: schema.minimum, value: schema.minimum },
      ]
    )

    document.querySelector('button[rel=next]').disabled = !app.token
    window.validateForm = async function(form) {
      if(app.token) return true
    }
  }

  document.onsend = async _ => {
    // Make sure we don't overwrite a declaration with empty data
    // eg on commencer.html if we have no localStorage.
    await app.loadRemoteData()
  }
</script>
