---
layout: tunnel
title: "Commencer la déclaration"
---
<h1>{{ page.title }}</h1>
  <div>
    {% include select.html name="déclaration.année_indicateurs" label="Année de déclaration" required=true empty=true type="number" %}
  </div>
  <div>
    {% include input.html type="regex" name="entreprise.siren" label="Numéro SIREN" required="true" pattern="[0-9]{9}" placeholder="9 chiffres" %}
  </div>

<script>
  document.onready = function() {
    const schema = app.schema.properties['déclaration']['properties']['année_indicateurs']
    buildSelectOptions(
      selectField('déclaration.année_indicateurs'),
      [
        { label: schema.maximum, value: schema.maximum },
        { label: schema.minimum, value: schema.minimum },
      ]
    )

    document.querySelector('button[rel=next]').disabled = !app.token
    window.validateForm = async function(form) {
      if(app.token) return true
    }
  }

  document.onsend = async _ => {
    // Make sure we don't overwrite a declaration with empty data
    // eg on commencer.html if we have no localStorage.
    await app.loadRemoteData()
  }
</script>
