---
layout: tunnel
title: "Informations déclarant pour tout contact ultérieur"
---
<h1>{{ page.title }}</h1>

<fieldset>
  <!-- fieldset display flex can't work in Chromium -->
  <div class=row>
    <div>{% include input.html name="déclarant.nom" label="Nom du déclarant" required=true %}</div>
    <div>{% include input.html name="déclarant.prénom" label="Prénom du déclarant" required=true %}</div>
  </div>
</fieldset>

<fieldset>
  <div>
    {% include input.html name="déclarant.téléphone" label="Numéro de téléphone" pattern="[0-9]{10}" placeholder="10 chiffres" required=true oninput="checkPatternValidity(event)" %}
  </div>
</fieldset>
