---
layout: tunnel
title: "Informations déclarant"
---
<h1>{{ page.title }}</h1>

<fieldset>
  <!-- fieldset display flex can't work in Chromium -->
  <div class=row>
    <div>{% include input.html name="déclarant.nom" label="Nom du déclarant" required=true %}</div>
    <div>{% include input.html name="déclarant.prénom" label="Prénom du déclarant" required=true %}</div>
  </div>
</fieldset>

<fieldset>
  <div>
    {% include input.html name="déclarant.téléphone" label="Numéro de téléphone" required=true %}
  </div>
</fieldset>

<fieldset>
  <p>Adresse de l'entreprise déclarante ou siège de l'UES</p>
  <div class=row id="département-selector">
    <div>{% include select.html name="entreprise.région" label="Région" required=true empty=true %}</div>
    <div>{% include select.html name="entreprise.département" label="Département" required=true %}</div>
  </div>

  <div class=row>
    {% include input.html name="entreprise.adresse" label="Adresse" required=true %}
  </div>

  <div class=row>
    {% include input.html name="entreprise.code_postal" label="Code postal (5 car.)" required=true regex="\d[\dab]\d{3}" %}
    {% include input.html name="entreprise.commune" label="Commune" required=true %}
  </div>
</fieldset>

<script>
  const regionSelect = selectField('entreprise.région')
  regionSelect.addEventListener('change', loadDepartments)
  const departmentSelect = selectField('entreprise.département')

  document.onready = async () => {
    // Load regions
    const regions = Object.entries(app.config.regions).map(([value, label]) => ({ value, label }))
    buildSelectOptions(regionSelect, regions, app.data['entreprise.région'])
    if(regionSelect.value) loadDepartments()
  }

  function loadDepartments() {
    const selectedRegion = regionSelect.value
    const departementCodes = app.config.regions_to_departements[selectedRegion]
    const departements = departementCodes.map(code => ({ value: code, label: app.config.departements[code] }))
    buildSelectOptions(departmentSelect, departements, app.data['entreprise.département'])
  }

</script>
