---
layout: tunnel
title: "Nombre de salariés du sexe sous-représenté parmi les 10 salariés ayant perçu les plus hautes rémunérations"
---

<h1>{{ page.title }}</h1>

<fieldset>
  <div class=row>{% include input.html type="number" name="indicateurs.hautes_rémunérations.résultat" label="Résultat en nombre de salariés" min=0 max=5 validation="Number" required=true %}</div>
</fieldset>

<fieldset>
  <div class=row>{% include select.html name="indicateurs.hautes_rémunérations.population_favorable" empty="true" label="Sexe des salariés sur-représentés" required=true %}</div>
</fieldset>

<fieldset class=note>
  <div class=row>{% include input.html type="number" name="indicateurs.hautes_rémunérations.note" label="Nombre de points obtenus sur l'indicateur" min=0 max=35 validation="Number" %}</div>
</fieldset>

<script>
  document.onready = () => {
    const favorableOptions = [
      { value: 'femmes', label: "Femmes" },
      { value: 'hommes', label: "Hommes" },
      { value: 'égalité', label: "Égalité" }
    ]
    buildSelectOptions(selectField('indicateurs.hautes_rémunérations.population_favorable'), favorableOptions)
  }
</script>
