---
layout: tunnel
title: "Informations calcul et période de référence"
---

<h1 class="text-3xl mt-0">{{ page.title }}</h1>

<div class="row">
  <fieldset>
    {% include input.html type="number" name="déclaration.année_indicateurs" label="Année au titre de laquelle les indicateurs sont calculés" readonly=true data-always-readonly=true %}
  </fieldset>
</div>

<div class=row>
  <fieldset>
   <div>{% include input.html type="date" label="Date de fin de la période de référence" name="déclaration.fin_période_référence" required="required" oninput="checkDate(event)" %}</div>
    <a class="button mt-1" href="#" onclick="updatePeriode(event)">sélectionner la fin de l'année civile</a>
  </fieldset>
</div>

<div class=row>
  <fieldset>
    {% include input.html type="number" name="entreprise.effectif.total" min=1 label="Nombre de salariés pris en compte pour le calcul des indicateurs sur la période de référence (en effectif physique)" required="true" %}
  </fieldset>
</div>

<script>
  const finPeriodeReferenceField = selectField("déclaration.fin_période_référence")
  document.onready = () => {
    finPeriodeReferenceField.max = `${app.data.déclaration.année_indicateurs}-12-31`
    finPeriodeReferenceField.min = `${app.data.déclaration.année_indicateurs}-01-01`
  }

  function updatePeriode(event) {
    event.preventDefault()
    if (!finPeriodeReferenceField.readOnly) {
      finPeriodeReferenceField.value = finPeriodeReferenceField.max 
    }
  }
</script>
