---
layout: tunnel
title: "Informations calcul et période de référence"
---

<h1>{{ page.title }}</h1>

<fieldset>
  <div class="row">
    {% include input.html type="number" name="déclaration.année_indicateurs" label="Année au titre de laquelle vous transmettez vos indicateurs" readonly=true %}
  </div>
</fieldset>

<fieldset>
  <div class=row>
    {% include input.html type="date" label="Date de fin de la période de référence" name="déclaration.fin_période_référence" required="required" %}
    <a class="button" href="#" onclick="updatePeriode(event)">sélectionner la fin de l'année civile</a>
  </div>
</fieldset>

<fieldset>
  <div class=row>
    {% include input.html type="number" name="entreprise.effectif.total" min=1 step="any" label="Nombre de salariés pris en compte pour le calcul des indicateurs sur la période de référence" required="true" %}
  </div>
</fieldset>

<script>
  const finPeriodeReferenceField = selectField("déclaration.fin_période_référence")
  document.onready = () => {
    finPeriodeReferenceField.max = `${app.data.déclaration.année_indicateurs}-12-31`
  }

  function updatePeriode(event) {
    event.preventDefault()
    if (!finPeriodeReferenceField.readOnly) {
      finPeriodeReferenceField.value = finPeriodeReferenceField.max 
    }
  }
</script>
