---
layout: tunnel
title: "Pourcentage de salariées ayant bénéficié d'une augmentation dans l'année suivant leur retour de congé maternité"
---

<h1>{{ page.title }}</h1>

<fieldset>
  <div class=row>
    <div>{% include radios.html name='_indicateurs.congés_maternité.calculable' label="L'indicateur est-il calculable" required="true" %}</div>
  </div>
</fieldset>

<fieldset id="fieldset-resultat">
  <div class=row>{% include input.html type="number" name="indicateurs.congés_maternité.résultat" label="Résultat final en pourcentage (%)" min=0 max=100 required="true" validation="Number" %}</div>
</fieldset>

<fieldset id="fieldset-motif">
  <div class=row>{% include select.html name="indicateurs.congés_maternité.non_calculable" empty="true" label="Précision du motif de non calculabilité de l'indicateur" required="true" %}</div>
</fieldset>

<fieldset class=note>
  <div class=row>{% include input.html type="number" name="indicateurs.congés_maternité.note" label="Nombre de points obtenus sur l'indicateur" min=0 max=15 validation="Number"  %}</div>
</fieldset>

<script>
  document.onready = () => {
    const calculableField = selectField('_indicateurs.congés_maternité.calculable')
    const calculableOptions = [
      { value: 'oui', label: "oui" },
      { value: 'non', label: "non" }
    ]
    buildRadioOptions(calculableField, calculableOptions, getVal(app.data, '_indicateurs.congés_maternité.calculable') || 'oui', {required: true})

    const nonCalculableField = selectField('indicateurs.congés_maternité.non_calculable')
    const nonCalculableOptions = [
      { value: 'absrcm', label: "Absence de retours de congé de maternité"},
      { value: 'absaugpdtcm', label: "Absence d'augmentations pendant ce congé"},
    ]
    buildSelectOptions(nonCalculableField, nonCalculableOptions)

    toggleFields()
    calculableField.addEventListener('change', toggleFields)

    function toggleFields() {
      const isCalculable = calculableField.querySelector(':checked') && calculableField.querySelector(':checked').value === 'oui'
      enableField('#fieldset-resultat', isCalculable)
      enableField('#fieldset-motif', !isCalculable)
    }

    function enableField(selector, enabled) {
      document.querySelector(selector).disabled = !enabled
    }
  }
</script>
