---
layout: tunnel
title: "Niveau de résultat global"
---

<h1>{{ page.title }}</h1>

<fieldset>
  <div class=row>{% include input.html type="number" name="déclaration.points" label="Total des points obtenus" min=0 max=100 type="number" readonly=true %}</div>
</fieldset>

<fieldset>
  <div class=row>{% include input.html type="number" name="déclaration.points_calculables" label="Nombre de points maximum pouvant être obtenus" min=0 max=100 type="number" readonly=true %}</div>
</fieldset>

<fieldset class=note>
  <div class=row>{% include input.html type="number" name="déclaration.index" label="Résultat final sur 100 points" min=0 max=100 type="number" readonly=true %}</div>
</fieldset>

<fieldset>
  <div class=row>
    {% include select.html
      name="déclaration.mesures_correctives"
      empty="true"
      label="Mesures de correction prévues à l'article D. 1142-6"
      options="mmo==Mesures mises en oeuvre|me==Mesures envisagées|mne==Mesures non envisagées"
    %}
  </div>
</fieldset>
