---
layout: tunnel
title: "Périmètre retenu pour le calcul et la publication des indicateurs"
---
<h1>{{ page.title }}</h1>

<fieldset>
  <div class=row>
    <h4>Vous déclarez en tant que</h4>
    {% include radios.html
      name="_entreprise.structure"
      options="entreprise=Entreprise&ues=Unité Économique et Sociale"
      required="required" %}
  </div>
</fieldset>

<fieldset>
  <div class=row>
    <h4>Tranches d'effectifs</h4>
    {% include radios.html
      name="entreprise.effectif.tranche"
      options="50:250=De 50 à 250 inclus&251:999=De 251 à 999 inclus&1000:=De 1000 ou plus"
      required="required" %}
  </div>
</fieldset>

<fieldset>
  <div class=row>
    <div>{% include input.html name="entreprise.raison_sociale" label="Raison sociale de l'entreprise déclarante" required=true %}</div>
  </div>
</fieldset>

<fieldset>
  <div class=row>
    <div>{% include input.html name="entreprise.siren" label="Numéro Siren de l'entreprise déclarante" required=true value="" readonly=true %}</div>
  </div>
</fieldset>

<fieldset>
  <div>
    <div>{% include select.html name="entreprise.code_naf" label="Code NAF de l'entreprise déclarante" required=true empty=true %}</div>
  </div>
</fieldset>

<fieldset>
  <p>Adresse du siège de l'entreprise déclarante</p>
  <div class=row id="département-selector">
    <div>{% include select.html name="entreprise.région" label="Région" required=true empty=true %}</div>
    <div>{% include select.html name="entreprise.département" label="Département" required=true empty=true %}</div>
  </div>

  <div class=row>
    {% include input.html name="entreprise.adresse" label="Adresse" required=true %}
  </div>

  <div class=row>
    {% include input.html name="entreprise.code_postal" label="Code postal" required=true pattern="\d{5}" placeholder="5 chiffres" oninput="checkPatternValidity(event)" %}
    {% include input.html name="entreprise.commune" label="Commune" required=true %}
  </div>
</fieldset>

<script>
  const regionSelect = selectField('entreprise.région')
  regionSelect.addEventListener('change', loadDepartments)
  const departmentSelect = selectField('entreprise.département')

  document.onready = async function() {
    // Load regions
    const regions = Object.entries(app.config.regions).map(([value, label]) => ({ value, label }))
    const sortedRegions = regions.sort((a, b) => a.label.localeCompare(b.label, "fr"))
    buildSelectOptions(regionSelect, sortedRegions, getVal(app.data, 'entreprise.région'))
    if(regionSelect.value) loadDepartments()

    if (objectValue(app.data, 'entreprise', 'raison_sociale')) {
      // There is already a "raison sociale" saved so we did already submit this current form,
      // so we can infer the "_entreprise.structure" data.
      app.data._entreprise = {structure: app.data.entreprise.ues ? "ues" : "entreprise"}
    }

    const select = selectField('entreprise.code_naf')
    await buildNafOptions(select, getVal(app.data, 'entreprise.code_naf'))
  }

  function loadDepartments() {
    const selectedRegion = regionSelect.value
    const departementCodes = app.config.regions_to_departements[selectedRegion]
    const departements = departementCodes.map(code => ({ value: code, label: `${code} - ${app.config.departements[code]}` }))
    const sortedDepartements = departements.sort((a, b) => a.label.localeCompare(b.label, "fr"))
    buildSelectOptions(departmentSelect, sortedDepartements, getVal(app.data, 'entreprise.département'))
  }

  document.onsend = data => {
    if (objectValue(data, '_entreprise', 'structure') === "entreprise") {
      delete data._entreprise.ues
      if(data.entreprise) delete data.entreprise.ues
    }

    if(data.indicateurs) {
      if (objectValue(data, 'entreprise', 'effectif', 'tranche') === "50:250") {
        delete data.indicateurs.augmentations
        delete data.indicateurs.promotions
      } else {
        delete data.indicateurs.augmentations_et_promotions
      }
    }
  }

</script>
