---
layout: tunnel
title: "Ecart de taux de promotions entre les femmes et les hommes"
---

<h1>{{ page.title }}</h1>

<fieldset>
  <div class=row>
    <div>{% include radios.html name="_indicateurs.promotions.calculable" label="L'indicateur sur les taux d'augmentations individuelles est-il calculable" required="true" %}</div>
  </div>
</fieldset>

<fieldset id="fieldset-resultat-ouv">
  <div class=row>{% include input.html type="number" name="indicateurs.promotions.catégories[0]" label="Ouvriers" min=0 max=100 required=true type="number" %}</div>
</fieldset>

<fieldset id="fieldset-resultat-emp">
  <div class=row>{% include input.html type="number" name="indicateurs.promotions.catégories[1]" label="Employés" min=0 max=100 required=true type="number" %}</div>
</fieldset>

<fieldset id="fieldset-resultat-tam">
  <div class=row>{% include input.html type="number" name="indicateurs.promotions.catégories[2]" label="Techniciens et agents de maîtrise" min=0 max=100 required=true type="number" %}</div>
</fieldset>

<fieldset id="fieldset-resultat-ic">
  <div class=row>{% include input.html type="number" name="indicateurs.promotions.catégories[3]" label="Ingénieurs et cadres" min=0 max=100 required=true type="number" %}</div>
</fieldset>

<fieldset id="fieldset-resultat-pourcentage">
  <div class=row>{% include input.html type="number" name="indicateurs.promotions.résultat" label="Résultat final en pourcentage (%)" min=0 max=40 required=true type="number" onblur="refreshForm()" %}</div>
</fieldset>

<fieldset id="fieldset-population-favorable">
  <div class=row>{% include select.html name="indicateurs.promotions.population_favorable" empty="true" label="Population envers laquelle l'écart est favorable" required=true onchange="refreshForm()" %}</div>
</fieldset>

<fieldset id="fieldset-motif">
  <div class=row>{% include select.html name="indicateurs.promotions.non_calculable" label="Précision du motif de non calculabilité de l'indicateur" required=true empty=true %}</div>
</fieldset>

<fieldset class=note>
  <div class=row>{% include input.html type="number" name="indicateurs.promotions.note" label="Nombre de points obtenus sur l'indicateur" min=0 max=35 type="number" readonly=true %}</div>
</fieldset>

<script>
  document.onready = () => {
    const calculableField = selectField('_indicateurs.promotions.calculable')
    const calculableOptions = [
      { value: 'oui', label: "oui" },
      { value: 'non', label: "non" }
    ]
    buildRadioOptions(calculableField, calculableOptions, getVal(app.data, '_indicateurs.promotions.calculable'), {required: true})

    const favorableOptions = [
      { value: 'femmes', label: "Femmes" },
      { value: 'hommes', label: "Hommes" },
      { value: 'egalite', label: "Égalité" }
    ]
    buildSelectOptions(selectField('indicateurs.promotions.population_favorable'), favorableOptions)

    const nonCalculableField = selectField('indicateurs.promotions.non_calculable')
    const nonCalculableOptions = [
      { value: 'egvi40pcet', label: "Effectif des groupes valides inférieur à 40% de l'effectif total" },
      { value: 'absprom', label: "Absence de promotions"},
    ]
    buildSelectOptions(nonCalculableField, nonCalculableOptions)

    toggleFields()
    calculableField.addEventListener('change', toggleFields)

    function toggleFields() {
      const isCalculableChosen = calculableField.querySelector(':checked')
      const isCalculable = isCalculableChosen && calculableField.querySelector(':checked').value === 'oui'
      enableField('#fieldset-resultat-ouv', isCalculable)
      enableField('#fieldset-resultat-emp', isCalculable)
      enableField('#fieldset-resultat-tam', isCalculable)
      enableField('#fieldset-resultat-ic', isCalculable)
      enableField('#fieldset-resultat-pourcentage', isCalculable)
      enableField('#fieldset-population-favorable', isCalculable)
      enableField('#fieldset-motif', isCalculableChosen && !isCalculable)
    }
  }
</script>
