---
layout: tunnel
title: "Ecart de rémunération entre les femmes et les hommes par niveau ou coefficient hiérarchique"
---

<hgroup>
  <h1>{{ page.title }}</h1>
  <h3>Il faut saisir les écarts de rémunération en % <em>avant</em> application du seuil de pertinence</h3>
</hgroup>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Moins de 30 ans</th>
      <th>De 30 à 39 ans</th>
      <th>De 40 à 49 ans</th>
      <th>50 ans et plus</th>
    </tr>
  </thead>

  <tbody id="container">
    <template id="looper">
      <tr>
        <th>Niveau - Coefficient {index} (en %)</th>
        <td>
          {% include input.html type="hidden" name="indicateurs.rémunérations.catégories[{index}].nom" value="categorie {index}" %}         
          {% include input.html type="number" name="indicateurs.rémunérations.catégories[{index}].tranches.:29" min=0 step="any" required=true %}
        </td>
        <td>
          {% include input.html type="number" name="indicateurs.rémunérations.catégories[{index}].tranches.30:39" min=0 step="any" required=true %}
        </td>
        <td>
          {% include input.html type="number" name="indicateurs.rémunérations.catégories[{index}].tranches.40:49" min=0 step="any" required=true %}
        </td>
        <td>
          {% include input.html type="number" name="indicateurs.rémunérations.catégories[{index}].tranches.50:" min=0 step="any" required=true %}
        </td>
      </tr>
    </template>
  </tbody>
</table>

<script>
  document.onready = (() => {
    const container = document.getElementById('container')
    const template = document.getElementById('looper').innerHTML
    const count = Number(getVal(app.data, '_indicateurs.rémunérations.niveaux'))
    const content = Array(count).fill().map((_, i) => {
      const index = i
      return template
        .replaceAll('{index}', index)
    }).join('')
    container.innerHTML = content
  })
</script>
