---
layout: tunnel
title: "Ecart de rémunération entre les femmes et les hommes par catégorie socio-professionnelle OU Ecart de rémunération entre les femmes et les hommes par niveau ou coefficient hiérarchique"
---
<h1>{{ page.title }}</h1>

<p>Il faut saisir les écarts de rémunération en % avant application du seuil de pertinence.</p>

<fieldset>
  <div class=row>
    <div>
      {% include radios.html
        name="_indicateurs.rémunérations.calculable"
        label="L’indicateur sur l’écart de rémunération est-il calculable ?"
        required="true"
        options="oui=oui&non=non"
        onchange="toggleFields()"
        required="required" %}
    </div>
  </div>
</fieldset>

<fieldset id="fieldset-mode">
  <div class=row>
    <div>
      {% include radios.html
        name="indicateurs.rémunérations.mode"
        label="Modalités de calcul de l'indicateur relatif à l'écart de rémunération entre les femmes et les hommes"
        required="true"
        block="true"
        options="niveau_branche=Par niveau ou coefficient hiérarchique en application de la classification de branche&niveau_autre=Par niveau ou coefficient hiérarchique en application d'une autre méthode de cotation des postes&csp=Par catégorie socio-professionnelle"
        onchange="toggleFields()"
        required="required" %}
    </div>
  </div>
</fieldset>

<fieldset id="fieldset-cse">
  <div class=row>
    {% include input.html type="date" name="déclaration.date_consultation_cse" label="Date de consultation du CSE" required=true %}
  </div>
</fieldset>

<fieldset id="fieldset-niveaux">
  <div class=row>{% include input.html type="number" name="_indicateurs.rémunérations.niveaux" label="Nombre de coefficients ou niveaux pour les modalités de calcul" min=2 max=50 required=true %}</div>
</fieldset>

<fieldset id="fieldset-calculable-csp">
  <div class=row>
    <div>
      {% include radios.html
        name="_indicateurs.rémunérations.calculable_csp"
        label="Vous déclarez que votre indicateur n’est pas calculable, avez-vous procédé au calcul de cet indicateur par catégorie socio-professionnelle ?"
        required="true"
        options="oui=oui&non=non"
        onchange="checkCalculableCSP(event)"
        required="required" %}
    </div>
  </div>
</fieldset>

<fieldset id="fieldset-motif">
  <div class=row>
    {% include select.html
      name="indicateurs.rémunérations.non_calculable"
      label="Précision du motif de non calculabilité de l'indicateur"
      empty="true"
      required=true
      options="egvi40pcet=Effectif des groupes valides inférieur à 40% de l'effectif total"
    %}
  </div>
</fieldset>

<script>
  const calculableField = selectField('_indicateurs.rémunérations.calculable')
  const calculableCspField = selectField('_indicateurs.rémunérations.calculable_csp')
  const modeField = selectField('indicateurs.rémunérations.mode')

  document.onready = () => {
    if (app.data?.indicateurs?.rémunérations) {
      // We did already submit this current form, so we can infer the
      // "_indicateurs.rémunérations.calculable" data.
      if (!app.data._indicateurs) app.data._indicateurs = {}
      if (!app.data._indicateurs.rémunérations) app.data._indicateurs.rémunérations = {}
      const calculable = app.data.indicateurs.rémunérations.non_calculable ? "non" : "oui"
      app.data._indicateurs.rémunérations.calculable = calculable
      if (app.data.indicateurs.rémunérations.non_calculable) app.data._indicateurs.rémunérations.calculable_csp = "oui"
    }
    if (app.data?.indicateurs?.rémunérations?.mode
        && app.data.indicateurs.rémunérations.mode !== "csp"
        && app.data.indicateurs.rémunérations?.catégories) {
      // We can infer the number of "niveaux" from the number of "catégories" we already have
      if (!app.data._indicateurs) app.data._indicateurs = {}
      if (!app.data._indicateurs.rémunérations) app.data._indicateurs.rémunérations = {}
      app.data._indicateurs.rémunérations.niveaux = app.data._indicateurs.rémunérations.niveaux || app.data.indicateurs.rémunérations.catégories.length
    }
  }

  function toggleFields() {
    const isCalculableChosen = calculableField.querySelector(':checked')
    const isCalculable = isCalculableChosen && calculableField.querySelector(':checked').value === 'oui'
    const isCalculatedCsp = calculableCspField.querySelector(':checked') && calculableCspField.querySelector(':checked').value === 'oui'
    const mode = modeField.querySelector(':checked') && modeField.querySelector(':checked').value
    enableField('#fieldset-mode', isCalculable)
    enableField('#fieldset-cse', isCalculable && ['niveau_branche', 'niveau_autre'].includes(mode))
    enableField('#fieldset-niveaux', isCalculable && ['niveau_branche', 'niveau_autre'].includes(mode))
    enableField('#fieldset-calculable-csp', isCalculableChosen && !isCalculable)
    enableField('#fieldset-motif', isCalculableChosen && !isCalculable && isCalculatedCsp)
  }

  function checkCalculableCSP(event) {
    const target = event.target
    if (target.value === "non") {
      target.checked = false
      alert("Avant de déclarer votre indicateur incalculable, vous devez procéder au calcul de cet indicateur par CSP. Si l’indicateur est non calculable avec cette méthode, alors vous pouvez déclarer que votre indicateur est non calculable et poursuivre votre déclaration pour les autres indicateurs.")
    }
    toggleFields()
  }

  document.onloaded = () => {
    toggleFields()
  }

  document.onsend = data => {
    if (data?.indicateurs?.rémunérations?.non_calculable) {
      delete data?.indicateurs?.rémunérations?.catégories
      delete data?.indicateurs?.rémunérations?.résultat
      delete data?.indicateurs?.rémunérations?.population_favorable
      delete data?.indicateurs?.rémunérations?.note
    }

    if (!data?.indicateurs?.rémunérations?.catégories) return
    const mode = data.indicateurs.rémunérations.mode
    if (mode) {
      data.indicateurs.rémunérations.catégories = (
        mode === "csp"
        ? data.indicateurs.rémunérations.catégories.slice(0, 4)
        : data.indicateurs.rémunérations.catégories.slice(0, data._indicateurs.rémunérations.niveaux)
      )
    }
  }
</script>
