---
layout: tunnel
title: "Ecart de rémunération entre les femmes et les hommes"
---
<h1>{{ page.title }}</h1>

<fieldset>
  <div class=row>
    <div>{% include radios.html name="indicateurs.rémunérations.mode" label="Modalités de calcul de l'indicateur relatif à l'écart de rémunération entre les femmes et les hommes" required="true" block="true" %}</div>
  </div>
</fieldset>

<fieldset id="fieldset-cse">
  <div class=row>
    {% include input.html type="date" name="déclaration.date_consultation_CSE" label="Date de consultation au CSE" required=true %}
  </div>
</fieldset>

<fieldset id="fieldset-niveaux">
  <div class=row>{% include input.html type="number" name="indicateur.niveaux" label="Nombre de coefficients ou niveaux pour les modalités de calcul" min=1 max=50 %}</div>
</fieldset>

<fieldset id="fieldset-motif">
  <div class=row>{% include select.html name="indicateurs.rémunérations.non_calculable" label="Précision du motif de non calculabilité de l'indicateur" %}</div>
</fieldset>

<fieldset id="fieldset-non_calculable">
  <div class=row>{% include textarea.html name="indicateur.autre_motif" label="Préciser le motif" %}</div>
</fieldset>

<script>
  document.onready = () => {
    const nonCalculableField = selectField('indicateurs.rémunérations.non_calculable')
    const motifOptions = [
      { value: 'egvi40pcet', label: "Effectif des groupes valides inférieur à 40% de l'effectif total" },
      { value: '', label: "Autre motif" }
    ]
    buildSelectOptions(selectField('indicateurs.rémunérations.non_calculable'), motifOptions)

    const modeField = selectField('indicateurs.rémunérations.mode')
    const calculOptions = [
      {value: "coef", label: "Par niveau ou coefficient hiérarchique en application de la classification de branche"},
      {value: "autre", label: "Par niveau ou coefficient hiérarchique en application d'une autre méthode de cotation des postes"},
      {value: "csp", label: "Par catégorie socio-professionnelle"},
      {value: "", label: "L’indicateur n’est pas calculable"},
    ]
    buildRadioOptions(modeField, calculOptions, app.data['indicateurs.rémunérations.mode'])

    toggleFields()
    modeField.addEventListener('change', toggleFields)
    nonCalculableField.addEventListener('change', toggleFields)

    function toggleFields() {
      const value = modeField.querySelector(':checked').value
      enableField('#fieldset-cse', ['coef', 'autre'].includes(value))
      enableField('#fieldset-niveaux', ['coef', 'autre'].includes(value))
      enableField('#fieldset-motif', value === '')
      enableField('#fieldset-non_calculable', value === '' && nonCalculableField.value === '')
      if(modeField.value === '') console.info("This is in progress")
    }

    function enableField(selector, enabled) {
      document.querySelector(selector).disabled = !enabled
    }
  }
</script>
