---
layout: tunnel
title: "Ecart de rémunération entre les femmes et les hommes"
---
<h1>{{ page.title }}</h1>

<fieldset>
  <div class=row>
    <div>{% include radios.html name="_indicateurs.rémunérations.calculable" label="L’indicateur sur l’écart de rémunération est-il calculable ?" required="true" %}</div>
  </div>
</fieldset>

<fieldset id="fieldset-mode">
  <div class=row>
    <div>{% include radios.html name="indicateurs.rémunérations.mode" label="Modalités de calcul de l'indicateur relatif à l'écart de rémunération entre les femmes et les hommes" required="true" block="true" %}</div>
  </div>
</fieldset>

<fieldset id="fieldset-cse">
  <div class=row>
    {% include input.html type="date" name="déclaration.date_consultation_cse" label="Date de consultation au CSE" required=true %}
  </div>
</fieldset>

<fieldset id="fieldset-niveaux">
  <div class=row>{% include input.html type="number" name="_indicateurs.rémunérations.niveaux" label="Nombre de coefficients ou niveaux pour les modalités de calcul" min=2 max=50 required=true %}</div>
</fieldset>

<fieldset id="fieldset-motif">
  <div class=row>{% include select.html name="indicateurs.rémunérations.non_calculable" label="Précision du motif de non calculabilité de l'indicateur" empty=true required=true %}</div>
</fieldset>

<script>
  const calculableField = selectField('_indicateurs.rémunérations.calculable')
  const modeField = selectField('indicateurs.rémunérations.mode')

  document.onready = () => {
    const calculableOptions = [
      { value: 'oui', label: "oui" },
      { value: 'non', label: "non" }
    ]
    buildRadioOptions(calculableField, calculableOptions, getVal(app.data, '_indicateurs.rémunérations.calculable'), {required: true})

    const modeOptions = [
      {value: "niveau_branche", label: "Par niveau ou coefficient hiérarchique en application de la classification de branche"},
      {value: "niveau_autre", label: "Par niveau ou coefficient hiérarchique en application d'une autre méthode de cotation des postes"},
      {value: "csp", label: "Par catégorie socio-professionnelle"},
    ]
    buildRadioOptions(modeField, modeOptions, getVal(app.data, 'indicateurs.rémunérations.mode'), {required: true})

    const nonCalculableField = selectField('indicateurs.rémunérations.non_calculable')
    const nonCalculableOptions = [
      { value: 'egvi40pcet', label: "Effectif des groupes valides inférieur à 40% de l'effectif total" },
    ]
    buildSelectOptions(nonCalculableField, nonCalculableOptions)
  }

  document.onloaded = () => {
    toggleFields()
    calculableField.addEventListener('change', toggleFields)
    modeField.addEventListener('change', toggleFields)

    function toggleFields() {
      const isCalculableChosen = calculableField.querySelector(':checked')
      const isCalculable = isCalculableChosen && calculableField.querySelector(':checked').value === 'oui'
      const mode = modeField.querySelector(':checked') && modeField.querySelector(':checked').value
      enableField('#fieldset-mode', isCalculable)
      enableField('#fieldset-cse', isCalculable && ['niveau_branche', 'niveau_autre'].includes(mode))
      enableField('#fieldset-niveaux', isCalculable && ['niveau_branche', 'niveau_autre'].includes(mode))
      enableField('#fieldset-motif', isCalculableChosen && !isCalculable)
    }
  }

  document.onsend = data => {
    if (data?.indicateurs?.rémunérations?.non_calculable) {
      delete data?.indicateurs?.rémunérations?.catégories
      delete data?.indicateurs?.rémunérations?.résultat
      delete data?.indicateurs?.rémunérations?.population_favorable
    }

    if (!data?.indicateurs?.rémunérations?.catégories) return
    const mode = data.indicateurs.rémunérations.mode
    if (mode) {
      data.indicateurs.rémunérations.catégories = (
        mode === "csp"
        ? data.indicateurs.rémunérations.catégories.slice(0, 4)
        : data.indicateurs.rémunérations.catégories.slice(0, data._indicateurs.rémunérations.niveaux)
      )
    }
  }
</script>
