---
layout: tunnel
title: "Niveau de résultat de l'entreprise ou de l'UES"
---

<h1>{{ page.title }}</h1>

<fieldset>
  <div class=row>
    {% include input.html type="date" name="déclaration.publication.date" label="Date de publication du niveau de résultat obtenu" required=true %}
  </div>
</fieldset>

<fieldset>
  <div class=row>
    <div>{% include radios.html name="_déclaration.publication.site_internet" label="Avez-vous un site Internet pour publier le niveau de résultat obtenu ?" required="true" %}</div>
  </div>
</fieldset>

<fieldset id="fieldset-url">
  <div class=row>{% include input.html name="déclaration.publication.url" label='Adresse du site Internet de publication ou précision des modalités de publicité' required=true %}</div>
</fieldset>

<fieldset id="fieldset-modalites">
  <div class=row>{% include textarea.html name="déclaration.publication.modalités" label='Adresse du site Internet de publication ou précision des modalités de publicité' required=true %}</div>
</fieldset>

<script>
  document.onready = () => {
    const siteInternetField = selectField('_déclaration.publication.site_internet')
    const siteInternetOptions = [
      { value: 'oui', label: "oui" },
      { value: 'non', label: "non" }
    ]
    buildRadioOptions(siteInternetField, siteInternetOptions, getVal(app.data, '_déclaration.publication.site_internet'), {required: true})

    toggleFields()
    siteInternetField.addEventListener('change', toggleFields)

    function toggleFields() {
      const hasSiteInternetChosen = siteInternetField.querySelector(':checked')
      const hasSiteInternet = hasSiteInternetChosen && siteInternetField.querySelector(':checked').value === 'oui'
      enableField('#fieldset-url', hasSiteInternet)
      enableField('#fieldset-modalites', hasSiteInternetChosen && !hasSiteInternet)
    }
  }
</script>