---
layout: tunnel
title: "Raison sociale et numéro SIREN de chacune des entreprises composant l’UES"
---
<h1>{{ page.title }}</h1>

<fieldset>
  <div class=row>
    {% include input.html name="entreprise.raison_sociale" label="Raison sociale #0" readonly=true %}
    {% include input.html name="entreprise.siren" label="SIREN #0" readonly=true %}
  </div>
  <div id=container>
    <template id=looper>
      <div class=row>
        {% include input.html name="entreprise.ues.entreprises[{index}].raison_sociale" label="Raison sociale #{index+1}" required=true %}
        {% include input.html name="entreprise.ues.entreprises[{index}].siren" label="SIREN #{index+1}" required=true %}
      </div>
    </template>
  </div>
</fieldset>

<script>
  document.onready = function() {
    if (!app.data?._entreprise?.ues?.nombre_entreprises && app.data?.entreprise?.ues?.entreprises) {
      // We did already submit this current form, so we can infer the
      // "_entreprise.ues.nombre_entreprises" data.
      if (!app.data._entreprise) app.data._entreprise = {}
      // Remember we need a length which is 1 more than the real length, as the declaring entreprise is also part of its UES
      app.data._entreprise.ues = {nombre_entreprises: app.data.entreprise.ues.entreprises.length + 1}
    }

    const template = document.getElementById('looper').innerHTML
    const container = document.getElementById('container')
    const count = Number(getVal(app.data, '_entreprise.ues.nombre_entreprises'))
    let html = ''
    for(let index = 0; index < count - 1; index++) {
      html += template.replaceAll('{index}', index).replaceAll('{index+1}', index + 1)
    }
    container.innerHTML = html
  }
</script>
