---
layout: tunnel
title: "Raison sociale et numéro de SIREN de chacune des entreprises composant l'UES"
---
<h1>{{ page.title }}</h1>

<fieldset id=container>
  <template id=looper>
    <div class=row>
      {% include input.html name="entreprise.ues.entreprises.{index}.raison_sociale" label="Raison sociale #{index}" required=true value="{entreprise.ues.entreprises.{index}.raison_sociale}" %}
      {% include input.html name="entreprise.ues.entreprises.{index}.siren" label="SIREN #{index}" required=true value="{entreprise.ues.entreprises.{index}.siren}" %}
    </div>
  </template>
</fieldset>

<script>
  document.onready = function() {
    const template = document.getElementById('looper').innerHTML
    const container = document.getElementById('container')
    const count = Number(getVal(app.data, '_entreprise.ues.nombre_entreprises'))
    let html = ''
    for(let index = 1; index <= count; index++) {
      html += template
        .replaceAll('{index}', index)
        .replaceAll(`{entreprise.ues.entreprises.${index}.raison_sociale}`, getVal(app.data, `entreprise.ues.entreprises.${index}.raison_sociale`) || '')
        .replaceAll(`{entreprise.ues.entreprises.${index}.siren}`, getVal(app.data, `entreprise.ues.entreprises.${index}.siren`) || '')
    }
    container.innerHTML = html
  }
</script>
