---
layout: tunnel
title: "Vous êtes une Unité Économique et Sociale (UES)"
---
<h1>{{ page.title }}</h1>

<fieldset>
  <div class=row>
    <div>{% include input.html name="entreprise.ues.raison_sociale" label="Nom de l'UES" required=true %}</div>
  </div>
</fieldset>

<fieldset>
  <div class=row>
    <div>{% include input.html name="entreprise.raison_sociale" label="Nom de l'entreprise déclarant pour le compte de l'UES" required=true %}</div>
  </div>
</fieldset>

<fieldset>
  <div class=row>
    <div>{% include input.html name="entreprise.siren" label="Numéro SIREN de cette entreprise" required=true readonly=true %}</div>
  </div>
</fieldset>

<fieldset>
  <div>
    <div>{% include select.html name="entreprise.code_naf" label="Code NAF de cette entreprise" required=true empty=true %}</div>
  </div>
</fieldset>

<fieldset>
  <div class=row>
    <div>{% include input.html type="number" name="_entreprise.ues.nombre_entreprises" label="Nombre d'entreprises composant l'UES (le déclarant compris)" required=true min=2 %}</div>
  </div>
</fieldset>

<script>
  document.onready = async function() {
    if (!app.data?._entreprise?.ues?.nombre_entreprises && app.data?.entreprise?.ues?.entreprises) {
      // We did already submit this current form, so we can infer the
      // "_entreprise.ues.nombre_entreprises" data.
      if (!app.data._entreprise) app.data._entreprise = {}
      // Remember we need a length which is 1 more than the real length, as the declaring entreprise is also part of its UES
      app.data._entreprise.ues = {nombre_entreprises: app.data.entreprise.ues.entreprises.length + 1}
    }

    const select = selectField('entreprise.code_naf')
    await buildNafOptions(select, getVal(app.data, 'entreprise.code_naf'))
  }

  document.onsend = data => {
    if (data?._entreprise?.ues?.nombre_entreprises && data?.entreprise?.ues?.entreprises) {
      // The `nombre_entreprises` is one more than the actual length as we count the declaring entreprise in it.
      data.entreprise.ues.entreprises = data.entreprise.ues.entreprises.slice(0, data._entreprise.ues.nombre_entreprises -1)
    }
  }
</script>
